.dt{
    /* background-image: url("https://img.freepik.com/free-photo/top-view-meat-concept-with-copy-space_23-2148738949.jpg?w=2000");
     */
     background-image: url("https://i.pinimg.com/originals/47/15/6d/47156d8aa470b276c3ee0e4ebf08ff03.jpg");
   background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.imga{
    height: 8cm;
    width: 10cm;
    border-radius: 18px;
    box-shadow: 4px 4px  10px rgb(244, 227, 48);
       
}

.type{
    background-color:rgba(255, 255, 255, 0.238);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(243, 246, 74, 0.972);  
    font-family: italic;
    font-family: fantasy;
    color: rgb(3, 3, 3);
    text-shadow: 4px 1px 5px rgb(255, 255, 65); 
}
.title{
    background-color:rgba(0, 0, 0, 0.348) ;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(243, 246, 74, 0.972);    
    font-family: italic;
    font-family: fantasy;
    text-shadow: 4px 4px 10px rgb(246, 234, 60);  
}
.diet{
   
    background-color:rgba(255, 255, 255, 0.238);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(243, 246, 74, 0.972);    
    font-family: italic;
    font-family: fantasy;
    text-shadow: 4px 1px 5px rgb(255, 255, 65); 
    color: rgb(14, 14, 13);
}
.dish{
    border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
    text-shadow: 4px 1px 5px rgb(255, 255, 65);
    box-shadow: 4px 4px 10px rgb(250, 228, 28);    
    font-family: italic;
    font-family: fantasy;
    background-color:rgba(255, 255, 255, 0.238);
    color: rgb(14, 14, 13);

}
.healthScore{
 
    background-color:rgb(156, 240, 22) ;
    border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(177, 246, 74, 0.972);    
    font-family: italic;
    font-family: fantasy;
    
    color: rgb(14, 14, 13);

}

.btn {
color: rgb(0, 0, 0);
background-color:transparent;
border-left: 5px solid rgb(255, 248, 47);
border-right: 5px solid  rgb(255, 248, 47);
font-family: fantasy;
font-style:italic;
width: 150px;  
font-size: 20px;
border-radius: 20%;
box-shadow: 4px 4px 10px rgba(250, 223, 66, 0.972);   
  }
   
.btn:hover {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 2px 2px 10px rgba(250, 223, 66, 0.972);  
    background: #8fe72b;
    background-image: -webkit-linear-gradient(top, #58a510, #54c022);
    background-image: -moz-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -ms-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -o-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: linear-gradient(to bottom, #f2f2b1, #f3ff99);
    text-decoration: none;
    cursor: pointer; 

  }
  
 

  